
header{
    display: flex;
    align-items: center;
    box-sizing: border-box;
     padding: 0 ;
    justify-content: space-between;
    background: #000;
    margin: 0;
}
#lista {
    display: flex;
    list-style: none;
    gap: .2rem;
    padding: 10px 30px;
}
#lista li {
    text-decoration: none;
    font-size: 1rem;
}
header a {
    text-decoration: none;
    color: #fff;
    padding: .2rem;
}
#logo {
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    left: 35px;
    position: relative;
    
}